body {
    /* color: #38AECC;
    background-color: #183446; */
  }
p {
    font-family: 'monospace';
    font-size: 10px;
}


.split {
  height: 60%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 5;
  overflow-x: hidden;
  padding-top: 5px;
}


.split-3 {
  height: 30%;
  background: red;
  width: 33%; /* as @passatgt mentioned in the comment*/
}
.left {
  left: 0;
  background-color: #4B7793;
}

.right {
  right: 0;
  background-color: #D3D0CB;
}

.lower {
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    left:0px;
    height: 28%;
    background-color: white;
}

.color_1 {
  background-color: #838D92;
}

.scroller{
  overflow-y: scroll;
}